/* Angular material */
@use '@angular/material' as mat;

/* Define custom color palette */
$custom-primary-palette: (
  50: #E8F5E9,
  100: #C8E6C9,
  200: #A5D6A7,
  300: #81C784,
  400: #66BB6A,
  500: #4CAF50,
  600: #43A047,
  700: #388E3C,
  800: #2E7D32,
  900: #1B5E20,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

/* Include Angular Material core styles */
@include mat.core();

/* Generate custom primary palette */
$custom-primary: mat.define-palette($custom-primary-palette);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

/* Generate custom theme */
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
));

@include mat.all-component-themes($custom-theme);

/* Apply global styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, button {
  font-family: Quicksand, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}