<div class="container">
    <div class="content">
        <form [formGroup]="checkoutForm">
            <text-input [control]="fc['name']" label="Name"></text-input>
            <text-input [control]="fc['email']" label="Email"></text-input>
            <text-input [control]="fc['address']" label="Address"></text-input>
            <text-input [control]="fc['contactNumber']" label="Contact number"></text-input>
            <div>
                <select formControlName="paymentMethod" id="payment-select">
                    <option value="Cash">Cash</option>
                    <option value="Credit card">Credit card</option>
                </select>
            </div>
        </form>
        <order-products-list [order]="order" [cart]="cart"></order-products-list>
    </div>
    <div class="buttons-container">
        <button (click)="createOrder()">Complete purchase</button>
    </div>
</div>