<div class="container">
    <div class="details">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <text-input [control]="this.fc['oldPassword']" [showErrors]="isSubmitted" label="Old password" type="password"></text-input>
            <text-input [control]="this.fc['newPassword']" [showErrors]="isSubmitted" label="Password" type="password"></text-input>
            <text-input [control]="this.fc['confirmPassword']" [showErrors]="isSubmitted" label="Confirm Password" type="password"></text-input>
            <default-button text="Change password"></default-button>
        </form>
    </div>
</div>