<div id="container">
    <div id="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div id="main">
        <div id="card-container">
            <div class="card">
                <div class="card-title">
                    Total categories
                </div>
                <div class="card-value" *ngIf="data">
                    {{data.categoryCount}}
                </div>
                <button routerLink="/categories" class="card-button" role="button">View</button>
            </div>
            <div class="card">
                <div class="card-title">
                    Total items
                </div>
                <div class="card-value" *ngIf="data">
                    {{data.itemCount}}
                </div>
                <button routerLink="/items" class="card-button" role="button">View</button>
            </div>
            <div class="card">
                <div class="card-title">
                    Total bills
                </div>
                <div class="card-value" *ngIf="data">
                    {{data.billCount}}
                </div>
                <button routerLink="/bills" class="card-button" role="button">View</button>
            </div>
        </div>
    </div>
</div>