#container {
    display: flex;
    margin-top: 2rem;
}

#sidebar {
    flex: 0.5;
    display: flex;
    justify-content: center;
    margin-left: 0.5rem;
}

#main {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

#table-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: sans-serif;
}

h2 {
    margin: 0;
}

td a {
    margin: 0 0.5rem;
}

td a:active {
    opacity: 0.5;
    transition: opacity 0.3s;
}

table {
    margin: 0 1rem;
    border-collapse: collapse;
}

td,
th {
    text-align: center;
    padding: 0.5rem 0.5rem;
}

table,
td,
th {
    border: 1px solid #ddd;
}

#filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 5rem;
    width: 60%;
}

#filter input {
    width: 93%;
    border: none;
    border-bottom: 0.09rem solid grey;
    transition: border-bottom 0.15s ease-out;
    background-color: white;
    font-size: 1rem;
    outline: none;
}

#filter input::placeholder {
    color: rgba(175, 175, 175, 0.863);
    font-size: 0.95rem;
}

.actions {
    display: flex;
}

.status {
    margin-left: 0.6rem;
}

.status mat-slide-toggle {
    margin-left: 0.3rem;
}

@media (max-width: 400px) {
    #main {
        display: flex;
        align-items: center;
    }

    #table-container {
        width: 100%;
    }

    #sidebar {
        display: none;
    }

    #filter {
        width: 85vw;
    }

    #filter input {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

}