.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 0.8rem;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
}

button:hover {
    opacity: 0.9;
}